body {
    margin: 0;
    font-family: Raleway, sans-serif;
    background-color: white;
}

.content-section {
    box-sizing: border-box;
    width: 1100px;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_dark {
    color: white;
}

.content-section_theme_bright {
    color: black;
}

a {
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link_active,
.footer__menu-link_active,
.card {
    text-decoration: none;
}

.header {
    /*вся шапка*/
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 91px 50px;
}

.header__links-list {
    /*список ссылок*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.header__links-list-item {
    list-style-type: none;
}

.header__links-list-item_no-bullit .header__link {
    text-decoration: none;
    list-style-type: none;
}

.header__link {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.2;
    font-size: 18px;
    white-space: nowrap;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    max-width: fit-content;
    justify-self: end;
}

.address a {
    line-height: 1.5;
}

.header__address {
    color: black;
    font-size: 18px;
    line-height: 1;
    padding-right: 37px;
}

.header__address a {
    margin: 0;
    display: block;
}

.header__address p {
    margin: 0;
    display: block;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 757px;
    padding: 34px 70px 35px 21px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cover__title,
.cover__description {
    position: relative;
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    line-height: 1.1;
}

.accent-span,
.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    margin-left: 30px;
}

.aligned-text_center {
    text-align: center;
    margin-top: 18px;
}

.aligned-text_right {
    text-align: right;
    margin-right: 0px;
    margin-top: 17px;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 0px 30px;
    letter-spacing: 0.2em;
}

.cover__description-text {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}

.bet-button {
    background: transparent;
    border: 1px solid white;
    padding: 15px 11px 12px 12px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    display: flex;
    gap: 27px;
    flex-direction: column;
    padding: 249px 27px 0px 21px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: black;
    padding-left: 41px;
    padding-top: 2px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lots__card-list-item {
    display: flex;
    min-height: 450px;
}

.card-link {
    position: relative;
    z-index: 2;
    color: white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 37px 40px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    padding-top: 3px;
}

.about {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 40px;
    padding: 155px 50px 44px 67px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    padding-top: 103px;
    padding-left: 31px;

}

.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 43px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 67px 50px;
}

.footer__menu {
    justify-self: center;
}

.footer__address {
    justify-self: start;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.footer__menu-list-item {
    margin: 0;
    padding: 0;
}

.footer__menu-link {
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-link {
    display: flex;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}