@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    background-color: white;
}

.content-section {
    width: 1100px;
    margin: auto;
}

.content-section_theme_dark {
    color: white;
}

.content-section_theme_bright {
    color: black;
}

.header {
    /*вся шапка*/
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 91px 50px;
}

.header__links-list {
    /*список ссылок*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.header__links-list-item {
    /*каждый пункт в списке*/
    list-style-type: none;
}

.header__links-list-item_no-bullit .header__link {
    /*сделать ссылку без кружочка*/
    text-decoration: none;
    list-style-type: none;
}

.header__link {
    /*каждая ссылка в пункте списка*/
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    color: black;
    line-height: 1.2;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 18px;
    white-space: nowrap;
}

.header__link_active {
    /*выбранная ссылка меню (без подчёркивания)*/
    text-decoration: none;
}

.header__logo {
    /*контейнер логотипа*/
    justify-self: center;
}

.header__logo-image {
    /*картинка с логотипом*/
    width: 148px;
    height: 105px;
}

.address {
    /*общий класс для блока с адресом*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    max-width: fit-content;
    justify-self: end;
}

.address a {
    color: black;
    text-decoration: underline;
    line-height: 1.5;
}

.header__address {
    /*для выравнивания блока с адресом*/
    color: black;
    font-size: 18px;
    line-height: 1;
    padding-right: 37px;
}

.header__address a {
    margin: 0;
    display: block;
}

.header__address p {
    margin: 0;
    display: block;
}

.cover {
    /*вся секция*/
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 690px;
    padding: 41px 19px 35px 49px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.overlay {
    /*полупрозрачный блок*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cover__title,
.cover__description {
    position: relative;
    z-index: 1;
}

.cover__title {
    /*заголовок*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.accent-span {
    display: block;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    margin-top: auto;
}

.cover__description-text {
    margin: 0;
    max-width: 300px;
    font-size: 22px;
    text-transform: uppercase;
}

.bet-button {
    background: transparent;
    border: 1px solid white;
    padding: 12px 32px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    /*вся секция*/
    display: flex;
    gap: 27px;
    flex-direction: column;
    padding: 180px 50px 90px;
}

.lots__heading {
    /*заголовок секции*/
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: black;
}

.lots__card-list {
    /*список карточек*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lots__card-list-item {
    /*пункт списка карточек*/
    display: flex;
    min-height: 450px;
}

.card-link {
    /*ссылка, обрамляющая карточку*/
    position: relative;
    z-index: 2;
    color: white;
}

.card {
    /* карточка */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    /* заголовок карточки */
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    /* текст карточки */
    font-size: 20px;
    z-index: 1;
}

.lots__look-more-link {
    /* ссылка «Посмотреть больше» */
    display: block;
    margin-top: 30px;
    font-size: 20px;
    color: black;
}

.about {
    /*вся секция*/
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 40px;
    padding: 180px 50px;
}

.about__column {
    /*класс для колонок*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.about__logo {
    /*контейнер с логотипом*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    /*изображение логотипа*/
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    padding-top: 100px;

}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.footer {
    /*подвал*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 92px 50px;
}

.footer__menu {
    /*блок навигации по списку ссылок*/
    justify-self: center;
}

.footer__address {
    justify-self: start;
}

.footer__menu-list {
    /*список пунктов меню*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.footer__menu-list-item {
    /*пункт списка меню*/
    margin: 0;
    padding: 0;
}

.footer__menu-link {
    /*каждая ссылка в пункте списка*/
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.footer__menu-link_active {
    /*выбранная ссылка меню (без подчёркивания)*/
    text-decoration: none;
}

.footer__social-list {
    /*список ссылок на социальные сети*/
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-list-item {
    /*пункт списка ссылок на социальные сети*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-link {
    /*ссылка на социальные сети*/
    display: flex;
}

.footer__social-icon {
    /*иконка социальной сети*/
    width: 48px;
    height: 48px;
}